@import url(font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Averia%20Sans%20Libre);
@import url(https://fonts.googleapis.com/css?family=Allura);
@import url(https://fonts.googleapis.com/css?family=Audiowide);
@import url(https://fonts.googleapis.com/css?family=Bad%20Script);
@import url(https://fonts.googleapis.com/css?family=Caesar%20Dressing);
@import url(https://fonts.googleapis.com/css?family=Candal);

:root {
  /* colors */
  --grey: #8e8e8e;
  --cream: #fccba3;
  --primary: #4eb2eb;
  --secondary: #5c328b;
  --tertiary: #d63187;
  --quaternery: #f6eb5b;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--cream);
  font-family: "Averia Sans Libre";
  overflow-x: hidden;
}

.mountains {
  width: 100%;
  /* display: block; */
  margin-left: auto;
  margin-right: auto;
  transform: translateY(-20%);
}
/* date */

@media only screen and (min-width: 898px) {
  .date {
    font-family: "Candal";
    position: absolute;
    width: 20%;
    height: 20%;
    left: 10%;
    top: 60%;
  }
  .text {
    color: #fff;
    font-size: 60px;
    display: inline-block;
    position: absolute;
    bottom: 0;
    -webkit-animation: text 1050ms ease-in infinite;
    animation: text 1050ms ease-in infinite;
    -webkit-transform: translatez(0);
    transform: translatez(0);
  }
  .text-w {
    left: 0px;
    -webkit-transform: translate3d(0, -6%, 0);
    transform: translate3d(0, -6%, 0);
    -webkit-animation: text-w 1050ms ease-in infinite;
    animation: text-w 1050ms ease-in infinite;
  }
  .text-a {
    left: 80px;
    -webkit-animation-delay: 150ms;
    animation-delay: 150ms;
  }
  .text-v {
    left: 200px;
    -webkit-animation-delay: 230ms;
    animation-delay: 230ms;
  }
  .text-e {
    left: 420px;
    -webkit-animation-delay: 310ms;
    animation-delay: 310ms;
  }
}
@media only screen and (max-width: 897px) {
  .date {
    font-family: "Candal";
    position: absolute;
    width: 20%;
    height: 20%;
    left: 3%;
    top: 10%;
  }
  .text {
    color: #fff;
    font-size: 30px;
    display: inline-block;
    position: absolute;
    bottom: 0;
    -webkit-animation: text 1050ms ease-in infinite;
    animation: text 1050ms ease-in infinite;
    -webkit-transform: translatez(0);
    transform: translatez(0);
  }
  .text-w {
    left: 0px;
    -webkit-transform: translate3d(0, -6%, 0);
    transform: translate3d(0, -6%, 0);
    -webkit-animation: text-w 1050ms ease-in infinite;
    animation: text-w 1050ms ease-in infinite;
  }
  .text-a {
    left: 45px;
    -webkit-animation-delay: 150ms;
    animation-delay: 150ms;
  }
  .text-v {
    left: 110px;
    -webkit-animation-delay: 230ms;
    animation-delay: 230ms;
  }
  .text-e {
    display: none;
    /* left: 7700px; */
    /* -webkit-animation-delay: 310ms; */
    /* animation-delay: 310ms; */
  }
}

.delay {
  -webkit-animation-delay: 1050ms;
  animation-delay: 1050ms;
}

@-webkit-keyframes text {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  30% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  45% {
    -webkit-transform: translate3d(0, -6%, 0);
    transform: translate3d(0, -6%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes text {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  30% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  45% {
    -webkit-transform: translate3d(0, -6%, 0);
    transform: translate3d(0, -6%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes text-w {
  0% {
    -webkit-transform: translate3d(0, -6%, 0);
    transform: translate3d(0, -6%, 0);
  }
  38% {
    -webkit-transform: translate3d(0, -6%, 0);
    transform: translate3d(0, -6%, 0);
  }
  69% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, -6%, 0);
    transform: translate3d(0, -6%, 0);
  }
}
@keyframes text-w {
  0% {
    -webkit-transform: translate3d(0, -6%, 0);
    transform: translate3d(0, -6%, 0);
  }
  38% {
    -webkit-transform: translate3d(0, -6%, 0);
    transform: translate3d(0, -6%, 0);
  }
  69% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, -6%, 0);
    transform: translate3d(0, -6%, 0);
  }
}

/* date */

/* bird */
@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-600%);
    -moz-transform: translateY(-600%);
    -khtml-transform: translateY(-600%);
    -o-transform: translateY(-600%);
    transform: translateY(-600%);
  }
  50% {
    -webkit-transform: translateY(-630%);
    -moz-transform: translateY(-630%);
    -khtml-transform: translateY(-630%);
    -o-transform: translateY(-630%);
    transform: translateY(-630%);
  }
  100% {
    -webkit-transform: translateY(-600%);
    -moz-transform: translateY(-600%);
    -khtml-transform: translateY(-600%);
    -o-transform: translateY(-600%);
    transform: translateY(-600%);
  }
}
@-moz-keyframes bounce {
  0% {
    -webkit-transform: translateY(-600%);
    -moz-transform: translateY(-600%);
    -khtml-transform: translateY(-600%);
    -o-transform: translateY(-600%);
    transform: translateY(-600%);
  }
  50% {
    -webkit-transform: translateY(-630%);
    -moz-transform: translateY(-630%);
    -khtml-transform: translateY(-630%);
    -o-transform: translateY(-630%);
    transform: translateY(-630%);
  }
  100% {
    -webkit-transform: translateY(-600%);
    -moz-transform: translateY(-600%);
    -khtml-transform: translateY(-600%);
    -o-transform: translateY(-600%);
    transform: translateY(-600%);
  }
}
@-o-keyframes bounce {
  0% {
    -webkit-transform: translateY(-600%);
    -moz-transform: translateY(-600%);
    -khtml-transform: translateY(-600%);
    -o-transform: translateY(-600%);
    transform: translateY(-600%);
  }
  50% {
    -webkit-transform: translateY(-630%);
    -moz-transform: translateY(-630%);
    -khtml-transform: translateY(-630%);
    -o-transform: translateY(-630%);
    transform: translateY(-630%);
  }
  100% {
    -webkit-transform: translateY(-600%);
    -moz-transform: translateY(-600%);
    -khtml-transform: translateY(-600%);
    -o-transform: translateY(-600%);
    transform: translateY(-600%);
  }
}
@keyframes bounce {
  0% {
    -webkit-transform: translateY(-600%);
    -moz-transform: translateY(-600%);
    -khtml-transform: translateY(-600%);
    -o-transform: translateY(-600%);
    transform: translateY(-600%);
  }
  50% {
    -webkit-transform: translateY(-630%);
    -moz-transform: translateY(-630%);
    -khtml-transform: translateY(-630%);
    -o-transform: translateY(-630%);
    transform: translateY(-630%);
  }
  100% {
    -webkit-transform: translateY(-600%);
    -moz-transform: translateY(-600%);
    -khtml-transform: translateY(-600%);
    -o-transform: translateY(-600%);
    transform: translateY(-600%);
  }
}
.bird {
  width: 10%;
  display: block;
  position: absolute;
  -webkit-animation-duration: 4s;
  -moz-animation-duration: 4s;
  -o-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: bounce;
  -moz-animation-name: bounce;
  -o-animation-name: bounce;
  animation-name: bounce;
  -webkit-animation-direction: cubic-bezier(0.53, 0.19, 0.52, 0.85);
  -moz-animation-direction: cubic-bezier(0.53, 0.19, 0.52, 0.85);
  -o-animation-direction: cubic-bezier(0.53, 0.19, 0.52, 0.85);
  animation-direction: cubic-bezier(0.53, 0.19, 0.52, 0.85);
  margin-left: 80%;
}
/* bird end */

.level-1 {
  background-color: var(--primary);
}
.upper-border {
  fill: var(--cream);
  fill-opacity: 1;
}
.border-1-2 {
  fill: var(--primary);
  fill-opacity: 1;
}
.border-2-3 {
  fill: var(--secondary);
  fill-opacity: 1;
}
.border-3-4 {
  fill: var(--tertiary);
  fill-opacity: 1;
}
.lower-border {
  fill: var(--quaternery);
  fill-opacity: 1;
}
.level-2 {
  background-color: var(--secondary);
}
.level-3 {
  background-color: var(--tertiary);
}
.level-4 {
  background-color: var(--quaternery);
}

.niser-logo {
  width: 85%;
}

.split-2-firefox {
  position: unset;
  top: unset;
  background: unset;
  backdrop-filter: none;
}

/* Desktop menu */
@media only screen and (min-width: 898px) {
  .mobile {
    display: none;
  }
  /* splitting Menu bar in 2 */
  .split-2 {
    display: table;
    width: 100%;
    height: 9vh;
    position: sticky;
    top: 0;
    z-index: 10;
    background: transparent;
    backdrop-filter: blur(5px);
  }
  .logo {
    position: absolute;
    left: 3%;
    height: 170px;
  }
  .navicon {
    display: none;
  }
  nav {
    right: 0px;
    width: 45%;
    margin-top: 1%;
    margin-right: 2%;
    position: absolute;
    width: 530px;
    height: 50px;
    border-radius: 8px;
    font-size: 0;
  }
  nav a {
    line-height: 50px;
    height: 100%;
    font-size: 15px;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: black;
    cursor: pointer;
    width: 100px;
  }
  nav .animation {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    transition: all 0.5s ease 0s;
    border-radius: 8px;
  }

  nav .start-home,
  a:nth-child(2):hover ~ .animation {
    width: 100px;
    left: 0;
    background-color: var(--primary);
  }
  nav .start-about,
  a:nth-child(3):hover ~ .animation {
    width: 100px;
    left: 100px;
    background-color: var(--secondary);
  }
  nav .start-blog,
  a:nth-child(4):hover ~ .animation {
    width: 100px;
    left: 200px;
    background-color: var(--tertiary);
  }
  nav .start-portefolio,
  a:nth-child(5):hover ~ .animation {
    width: 100px;
    left: 300px;
    background-color: var(--quaternery);
  }
  nav .start-contact,
  a:nth-child(6):hover ~ .animation {
    width: 100px;
    left: 400px;
    background-color: #e67e22;
  }
}
/* desktop nav end */

/* mobile nav start */
@media only screen and (max-width: 898px) {
  .desktop {
    display: none;
  }

  .logo {
    width: 30%;
    margin-left: 35%;
  }

  @-webkit-keyframes slideInLeft {
    0% {
      -webkit-transform: translate3d(-250px, 0, 0);
      transform: translate3d(-250px, 0, 0);
      visibility: visible;
    }
    100% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  @keyframes slideInLeft {
    0% {
      -webkit-transform: translate3d(-250px, 0, 0);
      transform: translate3d(-250px, 0, 0);
      visibility: visible;
    }
    100% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  @-webkit-keyframes slideOutLeft {
    0% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
    100% {
      -webkit-transform: translate3d(-250px, 0, 0);
      transform: translate3d(-250px, 0, 0);
      visibility: hidden;
    }
  }
  @keyframes slideOutLeft {
    0% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
    100% {
      -webkit-transform: translate3d(-250px, 0, 0);
      transform: translate3d(-250px, 0, 0);
      visibility: hidden;
    }
  }
  * {
    box-sizing: border-box;
  }

  body:after {
    background: white;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0;
    overflow: auto;
    padding: 0;
    position: absolute;
    top: 0;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    width: 100%;
  }
  body.open {
    overflow: hidden;
  }
  body.open:after {
    opacity: 1;
    visibility: visible;
  }

  .b-nav {
    position: absolute;
    z-index: 11;
  }
  .b-nav:not(.open) {
    visibility: hidden;
  }
  .b-nav li {
    color: #444444;
    list-style-type: none;
    padding: 10px;
    text-align: left;
    -webkit-transform: translateX(-250px);
    transform: translateX(-250px);
  }
  .b-nav li:not(.open) {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: slideOutLeft;
    animation-name: slideOutLeft;
  }
  .b-nav li:first-child {
    padding-top: 120px;
  }
  .b-nav.open {
    visibility: visible;
  }
  .b-nav.open li {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: slideInLeft;
    animation-name: slideInLeft;
  }

  .b-link {
    background: transparent;
    border-left: rgba(68, 68, 68, 0) solid 2px;
    color: #444444;
    font-family: Helvetica-Neue, Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-weight: 300;
    margin-left: 30px;
    text-decoration: none;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    width: auto;
  }
  .b-link:hover,
  .b-link--active {
    border-left: #444444 solid 2px;
    padding-left: 30px;
  }

  .b-menu {
    background: white;
    border: white solid 2px;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    height: 60px;
    padding-left: 15.5px;
    padding-top: 17.5px;
    position: relative;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 60px;
    z-index: 12;
  }
  .b-menu:hover {
    border: #444444 solid 2px;
  }

  .b-bun {
    background: #444444;
    position: relative;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  .b-bun--top {
    height: 2px;
    top: 0;
    width: 25px;
  }
  .b-bun--mid {
    height: 2px;
    top: 8px;
    width: 25px;
  }
  .b-bun--bottom {
    height: 2px;
    top: 16px;
    width: 25px;
  }

  .b-brand {
    color: white;
    font-family: Helvetica-Neue, Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-weight: 300;
    margin-left: 30px;
    position: relative;
    text-decoration: none;
    top: -21.4285714286px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    z-index: 13;
  }

  .b-container {
    height: 60px;
    left: 30px;
    position: absolute;
    top: 30px;
  }
  .b-container:hover:not(.open) .bun-top,
  .b-container:hover:not(.open) .bun-mid,
  .b-container:hover:not(.open) .bun-bottom {
    background: white;
  }
  .b-container.open .b-main {
    border: #444444 solid 2px;
  }
  .b-container.open .b-bun--top {
    background: #444444;
    top: 9px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .b-container.open .b-bun--mid {
    opacity: 0;
  }
  .b-container.open .b-bun--bottom {
    background: #444444;
    top: 5px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .b-container.open .b-brand {
    color: #444444;
  }
}
/* mobile nav end */

/* section formating */
.right-half {
  padding: 30px;
}
.right-half-footer {
  padding: 30px;
}

.left-half {
  padding: 30px;
  text-align: center;
}
/* desktop */
@media only screen and (min-width: 980px) {
  .section-split {
    display: table;
    width: 100%;
    height: 70vh;
    transform: translateY(-30%);
  }
  .section-split-merch {
    display: table;
    width: 100%;
    height: 40vh;
    transform: translateY(-30%);
  }
  .section-split-footer {
    transform: translateY(30%);
    display: table;
    width: 100%;
    height: 10vh;
  }

  .right-half {
    position: absolute;
    left: 3%;
    height: 170px;
    width: 45%;
  }
  .right-half-footer {
    position: absolute;
    left: 3%;
    height: 170px;
    width: 40%;
  }

  .left-half {
    right: 0px;
    width: 45%;
    margin-top: 1%;
    margin-right: 2%;
    position: absolute;
    font-size: 18px;
  }
  .stats {
    font-size: 65px;
    transform: translate(5%, -150%);
  }
  .days {
    font-size: 40px;
    transform: translate(10%, -130%);
  }
  .foot {
    font-size: 40px;
    transform: translate(35%, -120%);
  }
  .colleges {
    font-size: 40px;
    transform: translate(15%, -50%);
  }
  .events {
    font-size: 40px;
    transform: translate(60%, -570%);
  }
  .adv {
    font-size: 40px;
    transform: translate(65%, -80%);
  }
}

/* mobile */
@media only screen and (max-width: 979px) {
  .stats {
    display: inline;
    margin-left: 35%;
    font-size: 30px;
    transform: translate(5%, -150%);
  }
  .days {
    font-size: 25px;
    transform: translate(10%, -40%);
  }
  .foot {
    font-size: 25px;
    transform: translate(35%, 30%);
  }
  .colleges {
    font-size: 25px;
    transform: translate(50%, 40%);
  }
  .events {
    font-size: 25px;
    transform: translate(60%, -270%);
  }
  .adv {
    font-size: 25px;
    transform: translate(5%, 0%);
  }
}

.section-heading {
  /* background-color: red; */
  color: var(--cream);
  font-family: "Allura";
  font-size: 50px;
}
.section-content {
  color: var(--cream);
  text-align: left;
  font-size: 20px;
}
.level-3 {
  font-family: "Audiowide";
  color: var(--cream);
}
.section-heading-merch {
  font-family: "Bad Script";
}
.section-content-merch {
  font-family: "Bad Script";
}
.section-heading-footer {
  font-family: "Caesar Dressing";
}
@media only screen and (min-width: 980px) {
  img.merch-1 {
    width: 60%;
    transform: translate(-10%, -22%);
  }
  img.merch-2 {
    width: 60%;
    transform: translate(55%, -85%);
  }
}
@media only screen and (max-width: 979px) {
  img.merch-1 {
    width: 80%;
    /* transform: translate(-10%,-32%); */
  }
  img.merch-2 {
    width: 80%;
    transform: translate(30%, -20%);
  }
}
.icons {
  font-family: "FontAwesome";
  list-style: none;
}
.down {
  transform: transformY(20%);
}

.icon {
  text-decoration: none;
  border-bottom: none;
  position: relative;
}

.icon:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}

.icon > .label {
  display: none;
}

ul.icons {
  cursor: default;
  list-style: none;
  padding-left: 0;
}

ul.icons li {
  display: inline-block;
  padding: 0 1em 0 0;
}

ul.icons li:last-child {
  padding-right: 0;
}

ul.icons li .icon:before {
  font-size: 2em;
}

a {
  text-decoration: underline;
  outline: 0;
}
/* section formating end */
